* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(20, 23, 53);
}

.banner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-image: url(/images/Banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

.banner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.nav {
    font-weight: bold;
    font-style: normal;
}

.nav a {
    text-decoration: none !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}

.nav ul li {
    padding-left: 10px;
    padding-right: 10px;
}

.nav ul li img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
    margin-right: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}